<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-field">
    <mat-select formControlName="theme" placeholder="Theme">
      <mat-option *ngFor="let theme of themes" [value]="theme">
        {{theme}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput type="number" name="pokemonPageSize" placeholder="Page size for pokemon directory"
           formControlName="pokemonPageSize"/>
  </mat-form-field>
  <input class="form-field" type="submit" value="Send"/>
</form>
